// COLORS
$black: rgba(#000, 0.9);
$body-bg: #fff;
$light-yellow: #FEF7C3;
$red: #e40e27;
$primary-color: #1976D2;
$secondary-color: rgba(#1C2E45, 0.6);
$error: #ED3A3A;
$warning: #fb8c00;
$success: #33B469;
$info: #2196f3;
$field-label: #344054;
$field-border: #D0D5DD;

// FONTS
$primary-font: 'Poppins', Helvetica, Arial, sans-serif;
$base-font-size: 1rem;
