// COLORS
$black: rgba(#000, 0.9);
$body-bg: #fff;
$light-yellow: #fef7c3;
$red: #e40e27;
$primary-color: #1976d2;
$secondary-color: rgba(#1c2e45, 0.6);
$error: #ed3a3a;
$warning: #fb8c00;
$success: #33b469;
$info: #2196f3;
$field-label: #344054;
$field-border: #d0d5dd;

// FONTS
$primary-font: 'Nexa', Helvetica, Arial, sans-serif;
$base-font-size: 1rem;
