// COLORS
$black: rgba(#000, 0.8);
$body-bg: #fff;
$header-bg: #21264D;
$footer-bg: #F9FAFC;
$light-yellow: #FEF7C3;
$red: #C3252D;
$primary-color: #1976D2;
$secondary-color: rgba(#1C2E45, 0.6);
$error: #ED3A3A;
$warning: #fb8c00;
$success: #33B469;
$info: #2196f3;
$field-label: #344054;
$field-border: #D0D5DD;
$dialog-footer: rgba(#193B67, 0.05);
$toast: #FFF1C2;

// FONTS
$primary-font: 'Poppins', Helvetica, Arial, sans-serif;
$base-font-size: 1rem;
