@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba($red, 0.7);
  }
  70% {
    box-shadow: 0 0 0 15px rgba($red, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba($red, 0);
  }
}

.pulse::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  transform: translate(-50%, -50%);
  animation: pulse 2s infinite;
}