.campaign-main {
  color: $black;
  font-family: $primary-font;
  font-size: $base-font-size;
  line-height: 1.5;

  img {
    max-width: 100%;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    border: none;
    display: block;
  }

  h1, h2, h3, h4 {
    font-weight: normal;
  }

  a {
    text-decoration: none;
    color: $primary-color;

    &:hover {
      color: #000;
    }
  }

  p {
    margin-bottom: rem(20);
  }

  ol, ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    line-height: 1.5;
    margin-left: rem(20);
  }

  b, strong {
    font-weight: 600;
  }
}

.section-title {
  font-family: $primary-font;
  font-size: clamp(rem(20), calc(1.1vw + 1rem), rem(30));
  color: #232323;
  font-weight: 600 !important;
  line-height: 1.3;
  margin-bottom: 0.6em;
  text-wrap: balance;

  &--large {
    font-size: clamp(rem(24), calc(1.5vw + 1rem), rem(40));
  }

  &--small {
    font-size: clamp(rem(18), calc(0.5vw + 1rem), rem(24));
    margin-bottom: 0.5em;
  }

  &--with-icon {
    display: grid;
    grid-template-columns: rem(39) 1fr;
    align-items: center;
    gap: rem(8);
  }
}

.section-subtitle {
  font-family: $primary-font;
  font-size: clamp(rem(16), calc(0.2vw + 1rem), rem(20));
  font-weight: 600 !important;
  margin-bottom: 0.8em;
}

.card-title {
  display: block;
  font-size: clamp(rem(16), calc(0.2vw + 1rem), rem(20)) !important;
  font-weight: 500 !important;
  line-height: 1.3;

  &--small {
    font-size: clamp(rem(14), calc(0.2vw + 1rem), rem(16)) !important;
  }
}

.header-with-actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: rem(10);
}

.summary-text {
  font-size: rem(18);
  margin-bottom: 3rem !important;
}

.section-wrapper {
  padding-block: rem(60);

  &--b-border {
    border-bottom: 1px solid #c4c4c4;
  }
}

.wrapper {
  padding-inline: rem(40);
  margin-inline: auto;
  position: relative;
  width: 100%;
}

.wrapper-wide {
  padding-inline: rem(40);
  position: relative;
  width: 100%;
}

.wrapper-small-centered {
  max-width: 70%;
  margin-inline: auto;
}

.wrapper-max-800-centered {
  max-width: rem(800);
  margin-inline: auto;
}

.lazy-loaded {
  overflow: hidden;
  position: relative;
  background: rgba(#000, 0.04);
  background: linear-gradient(135deg, rgba(211, 223, 232, .5) 30%, rgba(169, 184, 197, .5) 38%, rgba(168, 182, 193, .6) 41%, rgba(168, 182, 193, .6) 50%, rgba(168, 182, 193, .6) 50%, rgba(169, 184, 197, .6) 51%, rgba(211, 223, 232, .6) 57%, rgba(211, 223, 232, .6) 80%, rgba(211, 223, 232, .6) 80%);
  background-size: 1200% 1200%;
  -webkit-animation: LazyContent 2s ease infinite reverse;
  -moz-animation: LazyContent 2s ease infinite reverse;
  animation: LazyContent 2s ease infinite reverse;
}

.no-scroll {
  position: fixed;
  inline-size: calc(100% + 18px);
  overflow-y: scroll;
}

.with-overlay {
  scroll-behavior: auto;
}

.video-wrapper {
  border-radius: 10px;

  iframe {
    border-radius: 12px;
    height: 100%;
    width: 100%;
    aspect-ratio: 16 / 9;
  }
}

@include mappy-bp(1600px) {
  .wrapper {
    max-width: 80%;
  }
}

@include mappy-query(xl) {
  .section-wrapper {
    padding-block: rem(48);
  }
}

@include mappy-query(lm) {
  .wrapper,
  .wrapper-wide {
    padding-inline: rem(32);
  }

  .section-wrapper {
    padding-block: rem(32);
  }
}

@include mappy-query(md) {
  .wrapper,
  .wrapper-wide {
    padding-inline: rem(24);
  }

  .wrapper-small-centered {
    max-width: none;
  }

  .no-scroll-drawer {
    inline-size: 100%;
  }
}

@include mappy-query(xm) {
  .summary-text {
    margin-bottom: 2rem !important;
  }

  .hide-tablet {
    display: none !important;
  }
}

@include mappy-query(xs) {
  .wrapper,
  .wrapper-wide {
    padding-inline: rem(20);
  }
}