.text-center {
  text-align: center;
}

.text-white {
  color: #fff;
}

.text-red {
  color: $red;
}

.text-grey-darken-1 {
  color: #757575 !important;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-normal {
  font-weight: normal !important;
}

.text-500 {
  font-weight: 500 !important;
}

.text-600 {
  font-weight: 600 !important;
}

.text-size-10 {
  font-size: rem(10);
}

.text-size-11 {
  font-size: rem(11);
}

.text-size-12 {
  font-size: rem(12);
}

.text-size-14 {
  font-size: rem(14);
}

.d-block {
  display: block !important;
}

.d-inline-block {
  display: inline-block !important;
}

.full-width {
  width: 100% !important;
}

.full-height {
  height: 100% !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-1 {
  padding-top: rem(4) !important;
}

.pt-2 {
  padding-top: rem(8) !important;
}

.pt-3 {
  padding-top: rem(12) !important;
}

.pt-4 {
  padding-top: rem(16) !important;
}

.pt-5 {
  padding-top: rem(20) !important;
}

.pt-6 {
  padding-top: rem(24) !important;
}

.pt-7 {
  padding-top: rem(28) !important;
}

.pt-8 {
  padding-top: rem(32) !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.py-0 {
  padding-block: 0 !important;
}

.mt-auto {
  margin-top: auto !important;
}


.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: rem(4) !important;
}

.mt-2 {
  margin-top: rem(8) !important;
}

.mt-3 {
  margin-top: rem(12) !important;
}

.mt-4 {
  margin-top: rem(16) !important;
}

.mt-5 {
  margin-top: rem(20) !important;
}

.mt-6 {
  margin-top: rem(24) !important;
}

.mt-7 {
  margin-top: rem(28) !important;
}

.mt-8 {
  margin-top: rem(32) !important;
}

.mt-n3 {
  margin-top: rem(-12) !important;
}

.mt-n4 {
  margin-top: rem(-16) !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: rem(4) !important;
}

.mb-2 {
  margin-bottom: rem(8) !important;
}

.mb-3 {
  margin-bottom: rem(12) !important;
}

.mb-4 {
  margin-bottom: rem(16) !important;
}

.mb-5 {
  margin-bottom: rem(20) !important;
}

.mb-6 {
  margin-bottom: rem(24) !important;
}

.mb-7 {
  margin-bottom: rem(28) !important;
}

.mb-8 {
  margin-bottom: rem(32) !important;
}

.my-0 {
  margin-block: 0 !important;
}

.my-4 {
  margin-block: rem(16) !important;
}


.ml-auto {
  margin-left: auto !important;
}


.bg-light-grey {
  background-color: #fafafa !important;
}

.bg-cream {
  background-color: #fff8ec;
}

.bg-light-red {
  background-color: #FAEEEE !important;
}

.divider {
  display: block;
  height: 0;
  max-height: 0;
  opacity: 0.12;
  border-color: $black;
  border-style: solid;
  border-width: thin 0 0 0;
}

.opacity-1 {
  opacity: 1 !important;
}

.line-height-normal {
  line-height: normal !important;
}

@include mappy-query(xs) {
  .text-xs-size-16 {
    font-size: 1rem !important;
  }
}