.course-banner {
  display: grid;
  min-height: 70vh;
  position: relative;
  background-color: #fefefe;
  background-repeat: no-repeat;
  background-size: cover;
  isolation: isolate;

  &.full-height-banner {
    min-height: 100vh;
  }

  &__pic {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 100%;

    &-bg-pic {
      display: block !important;
      max-width: 100%;
      width: 100%;
      height: 100% !important;
      padding: 0;
      margin: 0;
      border: none;
      object-fit: cover;
      object-position: center left;
      position: absolute !important;
      left: 0;
      top: 0;
      z-index: -1 !important;
    }
  }

  &__link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

@include mappy-query(xl) {
  .course-banner {
    min-height: rem(600);
  }
}

@include mappy-query(lm) {
  .course-banner {
    min-height: rem(400);
  }
}

@include mappy-query(md) {
  .course-banner {
    min-height: rem(500);
  }
}

@include mappy-query(xm) {
  .course-banner {
    min-height: auto;
    padding-block: 0 !important;

    &.full-height-banner {
      min-height: auto;
    }

    &__pic {
      position: relative !important;
      min-height: rem(300);
      padding-block: rem(24) !important;

      &::before {
        content: none;
      }
    }
  }
}

@include mappy-query(sm) {
  .course-banner {
    min-height: rem(200);

    &__pic {
      min-height: rem(200);
    }
  }
}

@include mappy-query(xs) {
  .course-banner {
    min-height: rem(170);

    &__pic {
      min-height: rem(170);
      padding-block: rem(19) !important;
    }
  }
}