.course-summary {
  position: relative;

  .lead-form {
    margin-top: rem(-600);
    position: relative;
  }
}

@include mappy-query(lm) {
  .course-summary {
    .lead-form {
      margin-top: rem(-530);
    }
  }
}

@include mappy-query(md) {
  .course-summary {
    .lead-form {
      margin-top: rem(-614);
      z-index: 55;
    }
  }
}

@include mappy-query(xm) {
  .course-summary {
    .lead-form {
      margin-top: 0;
      z-index: 0;
    }
  }
}