.highlights-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(rem(220), 1fr));
  gap: rem(24);
  margin-top: rem(32);
}

.highlight {
  &__block {
    display: flex;
    flex-direction: column;
    gap: rem(30);
    align-items: center;
    background-color: #FAEEEE;
    border-radius: 10px;
    padding: rem(30 14 20 14);
    position: relative;
    text-align: center;
    @include trans-all;

    &:nth-child(3n+1) {
      background-color:  #9cccc1;
    }

    &:nth-child(3n+2) {
      background-color: #7bc4ee;
    }

    &:nth-child(3n+3) {
      background-color: #f1a248;
    }

    &--title {
      color: #a01713;
    }

    &--has-link {
      &:hover {
        background-color: #ff8300;
      }
    }
  }

  &-label {
    display: grid;
    grid-template-columns: rem(50) 1fr;
    align-items: center;
    gap: rem(8);
  }

  &-link {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

@include mappy-query(lm) {
  .highlight-label {
    grid-template-columns: rem(40) 1fr;
  }
}

@include mappy-query(sm) {
  .highlights-grid {
    grid-template-columns: 1fr;
  }

  .highlight {
    &__block {
      gap: rem(20);
    }

    &-label {
      grid-template-columns: rem(30) 1fr;
    }
  }
}