.thank-you-section {
  display: grid;
  place-content: center;
  height: 100dvh;
}

.thank-you-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  font-family: $primary-font;
  font-size: $base-font-size;
  line-height: 1.5;

  p {
    margin-bottom: rem(20);
  }

  &--icon {
    width: rem(100);
    margin-bottom: 1rem;
  }
}

@include mappy-query(sm) {
  .thank-you-card {
    margin: 0;

    &--icon {
      width: rem(80);
    }
  }
}
