@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  overflow-x: hidden;
}

.react-tel-input .selected-flag {
  border-radius: 8px 0 0 8px !important;
}

@layer base {
  a {
    @apply no-underline;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.mantine-Input-input {
  border: none !important;
  background: transparent !important;
}
